.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  height: -moz-max-content;
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -25%;
  padding-bottom: 50%;
}
.bg_image {
  background-image: url("../../../public/images/md_landingbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  height: -moz-max-content;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 10%;
  padding-bottom: 35%;
}
.bg_arch {
  background-image: url("../../../public/images/Frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  visibility: hidden;
}
.bg_elephant {
  z-index: 100;
  position: relative;
  margin-right: 15%;
  visibility: hidden;
}

.redlogobg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
  margin-right: 8px;
  height: 8%;
  width: 8%;
}

.Time_bg {
  background-image: url("../../../public/images/md_bg_24.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.nametext {
  color: #fff;
  font-size: 9px;
  text-align: center;
  font-stretch: 70%;
  span {
    font-size: 14px;
  }
  text-transform: uppercase;
  background-image:#fbb200;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fbb200;
  background-clip: text;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: inherit;
  max-width: 200px;
  font-weight: 800;
}
.elph_timer {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
//mt-8 mr-8
.gov_logo {
  margin-top: 8px;
  margin-right: 8px;
  height: 8%;
  width: 8%;
}

.nonrotors {
  height: 100px;
  width: 100px;
}
.inner_cms {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: center;
  // margin: 36px;
  gap: 60px;
}

// @media (max-width: 768px) {

//   .bg_arch {
//     background-size: contain;
//     height: 16vh;
//   }
//   .gov_logo {
//     height: 60px;
//     width: 60px;
//     margin-top: 8px;
// margin-right: 8px;
//   }
//   .redlogobg {
//     height: 60px;
//     width: 60px;
//     margin-top: 8px;
// margin-right: 8px;
//   }
//   .bg {
//     background-image: url("../../../public/images/TimeBg.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     height: 800px;;
//     width: 100%;
//     position: relative;

//   }
//   .outer_hero {
//     margin-top: 100px;
//     display: flex;
// flex-direction: column;
//   }
//   .shiv_outer .hcm_outer .dk_outer .cm_outer{

//     height: 120px;
//     width: 120px;
//   }
//   .shiraj {
//     height: 100px;
//     width: 100px;
//   }

//   .bg_elephant {
//     visibility: hidden;
//   }
// }

.count_head {
  color: #fbb200;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  color: "#fbb200";
  font-size: 2.5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousal_main {
  background-image: url("../../../public/images/md_bg_24.png");
  display: flex;
  flex-direction: row;
  align-items: center;
}
.elepheft{
  padding-bottom: 80px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ktaka {
  position: absolute;
  height: 120px;
  width: 120px;
}
.elepheftb{
  width:100px;
}
.brandMysuru {

  position: absolute;
  top: 60ch;
  display: flex;
  flex-basis: max-content;
  flex-direction: row;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

@media (max-width: 1024px) {

  .carousal_main {
    background-image: url("../../../public/images/md_bg_24.png");
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img {
    width: 60%;
    height: 60%;
  }
  .inner_cms {
    max-width: 200px;
    margin-right: 60px;
    max-width: 200px;
  }

  .nametext {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: pre-line;
    max-width: 100px;
    font-weight: 300;
  }


  .outer_hero {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: saturate(180%) blur(2px);
    padding: 8px;
    margin: 8px;
    border: #fff;
    border-radius: 8px;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  .img {
    max-height: 150px;
    max-width: 100px;
  }
  .p {
    width: max-content;
  }
}

.outer_main {
  position: absolute;
  top: 36%;
  display: flex;
  flex-direction: row;
  left: 0;
  width: 100%;
  justify-content: center;
  gap: 30%;
}

.inner_left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  top: 18%;
  border: white;
  border-radius: 12px;
  width: 30%;
  height: min-content;
  align-items: center;
}

.inner_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  text-align: center;
  top: 18%;
  border: white;
  border-radius: 12px;
  height: min-content;
  align-items: center;
}

.left_1,
.left_2 {
  text-align: center;
  margin: 4px;
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  align-items: center;
  font-size: large;
  align-self: flex-start;
}

.right_1,
.right_2 {
  text-align: center;
  margin: 4px;
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  align-items: center;
  font-size: large;
  align-self: flex-start;
}

.mys_min_image {
  width: 200px;
  height: 200px;
  padding: 60px;
  margin: 4px;
  background-image: url("../../../public/images/md_guest_bg_flower.png");
  background-repeat: no-repeat;
  background-position: center;
}

.banner_desig_text {
  font-size: 14px;
  color: #fbb200;
  border-radius: 10px;
  padding: 4%;
}

.inner_left_1, .inner_left_2 {

  .banner_desig_text {
    max-width: 100%;
  }
}
.eleph_left1{
  padding-top: 20px;
}
.elephleftright{
  padding-top: 20px;
}

.min_names {
  font-size: large;
  width: max-content;
}

.min_names,
.main_heading,
.frame_gov,
.top_eleph {
  text-align: center;
  background-image:#FBB200;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  display: inline-block;
  padding: 4%;
}

.main_heading {
  padding: 8px;
  margin: 8px;
  align-self: baseline;
  text-align: center;
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 100;
  left: 0.4%;
  left: 0;
  right: 0;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  flex-basis: max-content;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.h1_heading {
  font-size: 3.5rem;
  color: #FBB200;
}

.min_centers {
  display: flex;
  flex-direction: column;
}

.video_section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 23.5%;
}

.base_bg {
  // background-image: url("../../../public/images/exp2_arch_gaja.png"),
  //   url("../../../public/images/md_bg_24.png");
  background-image: url("../../../public/images/md_bg_24.png");
  background-position: top;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  padding: 25% 25% 35% 30%;
  position: relative;
  bottom: 0;
  background-origin: padding-box;
}

.logo_section {
  display: flex;
  flex-direction: row;
  flex-basis: max-content;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  align-items: self-start;
  justify-content: space-evenly;
  width: 100%;
  gap: 40%;
}
.frame_gov {
  width: 100%;
  height: 5%;
  left: 0;
  right: 0;
  top: 15%;
  position: absolute;
}

.top_eleph {
  position: absolute;
  top: 2%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
}

.eleph_left {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 150px;
  width: 200px;
}
.eleph_right {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 150px;
}

.eleph_left_2 {
  display: none;
  flex-direction: row;
  gap: 2px;
  height: 150px;
  width: 200px;
}
.eleph_right_2 {
  display: none;
  flex-direction: row;
  gap: 2px;
  height: 150px;
}

.main_tickets {
  background: url("../../../public/images/md_bg_24.png");
display: flex;
flex-direction: row;
flex-basis: fit-content;
align-items: baseline;
justify-content: center;
height: 80%;
  width: 90%;
  border: #FBB200;
    border-top-width: medium;
    border-top-style: none;
    border-right-width: medium;
    border-right-style: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-left-width: medium;
    border-left-style: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  overflow: scroll;
}

.count_head {
  color: #FBB200;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  color: "#FFF504";
  font-size: 2.5rem;
  text-align: center;
}



@media (max-width: 500px) {

  .carousal_main {
    background-image: url("../../../public/images/md_bg_24.png");
    display: flex;
    flex-direction: column;
  }

  .main_tickets {
    flex-direction: column;
    justify-content: flex-start;
}
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: saturate(180%) blur(2px);
    border: #fff;
    border-radius: 8px;
    width: max-content;
  }

  .count_head {
    font-size: medium;
  }
  .outer_main {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100%;
    justify-content: center;
    gap: 2%;
  }

  .raja {
    height: 50px;
    width: 50px;
  }

  .main_heading {
    padding: 8px;
    margin: 8px;
    align-self: baseline;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0.4%;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: bolder;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10%;
    padding-right: 14.5%;
  }

  .min_names {
    font-size: small;
  }
  .banner_desig_text {
font-size: 10px;
  }

  .mys_min_image {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
  }

  .logo_section {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
    position: absolute;
    top: 20%;
    justify-content: center;
    gap: 10%;
  }

  .inner_left {
    background: transparent;
    backdrop-filter: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1%;
    width: 50%;
    align-self: flex-start;
  }

  .inner_right {
    background: transparent;
    backdrop-filter: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1%;
    width: 50%;
    align-self: flex-start;
  }
  .left_2,
  .left_1 {
    margin: 0px;
    padding: 0px;
    align-items: center;
  }

  .right_1,
  .right_2 {
    text-align: center;
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    align-items: center;
    font-size: large;
    align-self: first baseline;
  }


  .top_eleph {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
  }

  .bg_elephant {
    visibility: hidden;
  }
  .count_head {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .gov_logo {
    width: 60px;
    height: 60px;
    height: 10%;
    width: 10%;
  }
  .frame_gov {
    visibility: collapse;
  }
  .redlogobg {
    width: 60px;
    height: 60px;
    height: 10%;
    width: 10%;
  }

  .base_bg {
    background-size: cover;
    position: relative;
    bottom: 0;
    height: fit-content;
    padding: 120% 30%;
  }

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elephleftright{display: none;
  }
  .eleph_left1{
    display: none;
  }
  .elph_timer {
top: 76%;   

  }
}

@media (min-width: 1024px) {

  .carousal_main {
    background-image: url("../../../public/images/md_bg_24.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
  }

  .base_bg {
    padding: 25% 25% 24% 30%;
    background-size: cover;
  }
  .top_eleph {
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    z-index: 100;
    justify-content: space-around;
    gap: 75%;
  }

  .right_1,
  .right_2 {
    margin: 0px;
  }
 
  .frame_gov {
    top: 25%;
  }

  .eleph_left {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  .eleph_right {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
  }

  .eleph_left_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  .eleph_right_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
  }

  .logo_section {
    display: flex;
    flex-direction: row;
    flex-basis: max-content;
    position: absolute;
    top: 12%;
    left: 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 20%;
  }

  .main_heading {
  }

  .glass_background {
    background: rgba(255, 255, 255, 0.014);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0),
    0 1px 3px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  }

  .glass_background::before {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  
  @keyframes shine {
    0% {
      transform: translateX(-50%) rotate(45deg);
    }
    100% {
      transform: translateX(50%) rotate(45deg);
    }
  }

  .glass_background:hover {
    backdrop-filter: blur(10px);
  }
  
}

@media (min-width: 350px) and (max-width: 768px) {

.rotating {
  max-width: none;
  height: 60px;
  width: 60px;
}

.nonrotors {
  height: 40px;
  width: 40px;
}


  .base_bg {
   padding: 95% 35% 200% 30%;
    background-size: contain;
  }
  .outer_main {
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inner_left {
    width: 100%;
  }
  .inner_right {
    width: 100%;
  }
  .top_eleph {
    position: absolute;
    top: -5%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    z-index: 100;
    justify-content: space-around;
    gap: 75%;
  }
  
  .frame_gov {
    top: 25%;
  }

  .eleph_left {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .eleph_right {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .eleph_left_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .eleph_right_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .right_1,
  .right_2 {
    align-self: center;
    width: 50%;
    margin: 4px;
  }

  .left_1,
  .left_2 {
align-self: center;
margin: 4px;
width: 50%;
  }
  .logo_section {
    display: flex;
    flex-direction: row;
    flex-basis: max-content;
    position: absolute;
    top: 10%;
    left: 0;
    align-items: center;
    width: 100%;
    gap: 10%;
  }
  .banner_desig_text {
    width: 100%;
  }

  .min_names {
    
  }

  .mys_min_image {
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  }

  .brandMysuru {

    position: fixed;
    top: 70px;
    display: none;
    flex-basis: max-content;
    flex-direction: row;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
  }

  .redlogobg {
    width: 15%;
    height: 15%;
  }

  .gov_logo {
    width: 15%;
    height: 15%;
  }

  .about_end_frame {
    visibility: collapse;
  }

  .main_heading {
    padding: 8px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 8px;
    align-self: baseline;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0.4%;
    left: 0;
    right: 0;
    font-weight: 2.5rem;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10%;
    padding-right: 14.5%;
  }

  .h1_heading {
font-size: 2.5rem;
  }

  .glass_background {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.03),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  }

  .glass_background::before {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  
  @keyframes shine {
    0% {
      transform: translateX(-50%) rotate(45deg);
    }
    100% {
      transform: translateX(50%) rotate(45deg);
    }
  }

  .glass_background:hover {
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  .base_bg {
    padding: 90% 35% 65% 30%;
    background-size: contain;
  }
  .outer_main {
    top: 36%;
  }

  .inner_left,
  .inner_right {
    gap: 0;
  }
  .top_eleph {
    position: absolute;
    top: -5%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    z-index: 100;
    justify-content: space-around;
    gap: 75%;
  }

  .right_1,
  .right_2 {
    align-self: self-end;
    margin: 0px;
  }
  .frame_gov {
    top: 25%;
  }

  .eleph_left {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .eleph_right {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .eleph_left_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .eleph_right_2 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 300px;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo_section {
    display: flex;
    flex-direction: row;
    flex-basis: max-content;
    position: absolute;
    top: 20%;
    left: 0;
    align-items: center;
    width: 100%;
    gap: 10%;
  }

  .banner_desig_text {
    visibility: collapse;
    height: 0px;
    width: 0px;
    display: none;
  }

  .min_names {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .mys_min_image {
    height: 60px;
    width: 60px;
    background-repeat: round;
  background-position: center;
  padding: 15px;
  }

  // Brand 

.brandMysuru {

  position: absolute;
  top: 70%;
  display: none;
  flex-basis: max-content;
  flex-direction: row;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

  .redlogobg {
    width: 15%;
    height: 15%;
  }

  .gov_logo {
    width: 15%;
    height: 15%;
  }

  .about_end_frame {
    visibility: collapse;
  }

  .main_heading {
    padding: 8px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 8px;
    align-self: baseline;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0.4%;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: bolder;
    top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10%;
    padding-right: 14.5%;
  }

  .nonrotors {
    width: 50px;
    height: 50px;
  }
  .elph_timer {
    top: 76%;
  }


  .glass_background {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.03),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  }

  .glass_background::before {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  
  @keyframes shine {
    0% {
      transform: translateX(-50%) rotate(45deg);
    }
    100% {
      transform: translateX(50%) rotate(45deg);
    }
  }

  .glass_background:hover {
    backdrop-filter: blur(10px);
  }
}



@media (min-width: 700px) and (max-width: 1024px) {

  .base_bg{
    padding: 65% 25% 97% 30% ;
  }

      .logo_section {
        display: flex;
        flex-direction: row;
        flex-basis: max-content;
        position: absolute;
        margin-top: 7%;
        left: 0;
        width: 100%;
        align-items: self-start;
        justify-content: space-evenly;
        width: 100%;
        gap: 35%;
      }
      .gov_logo {
        margin-right: 8px;
        height: 7%;
        width: 7%;
      }
      .redlogobg{
        height: 7%;
        width: 7%;
        margin-left: 20px;

      }
      .top_eleph {
        top: 8%;
        
      }
    .main_heading {
      margin-top: 10%;

    }
    .outer_main {
      position: absolute;
      top: 25%;
      display: flex;
      flex-direction: row;
      left: 0;
      width: 100%;
      justify-content: center;
      gap: 30%;
    }
    
.elph_timer {
top: 80%;     
  }

  .eleph_left_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 150px;
    width: 200px;
  }
  .eleph_right_2 {
    display: none;
    flex-direction: row;
    gap: 2px;
    height: 150px;
  }
    
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Rotator

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}

.glass_background {
  background: rgba(255, 255, 255, 0.014);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0),
    0 1px 3px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.glass_background::before {
  background: rgba(255, 255, 255, 0.15);
box-shadow: 
  0 8px 12px rgba(0, 0, 0, 0.08),
  0 2px 4px rgba(0, 0, 0, 0.05),
  inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}

@keyframes shine {
  0% {
    transform: translateX(-50%) rotate(45deg);
  }
  100% {
    transform: translateX(50%) rotate(45deg);
  }
}

.glass_background:hover {
  backdrop-filter: blur(10px);
}
// For Resolution 1920 * 1063 - Mac tested

@media screen and (min-width: 1920px) {
  .bg {
    margin-top: -15%;
    padding-bottom: 30%;
  }

  .bg_image {
    margin-top: 5%;
    padding-bottom: 25%;
  }

  .bg_arch {
    height: 90vh;
  }

  .outer_main {
    top: 30%;
    gap: 25%;
  }

  .inner_left, .inner_right {
    width: 30%;
  }

  .mys_min_image {
    width: 180px;
    height: 180px;
    padding: 50px;
  }

  .banner_desig_text {
    font-size: 16px;
    padding: 3%;
  }

  .min_names {
    font-size: 22px;
  }

  .main_heading {
    top: 12%;
    font-size: 48px;
  }

  .h1_heading {
    font-size: 4rem;
  }

  .logo_section {
    top: 5%;
    gap: 60%;
  }

  .gov_logo, .redlogobg {
    height: 7%;
    width: 7%;
  }

  .frame_gov {
    top: 18%;
  }

  .top_eleph {
    top: 0;
  }

  .eleph_left, .eleph_right {
    height: 250px;
  }

  .base_bg {
    padding: 20% 25% 30% 30%;
  }

  .count_head {
    font-size: 3rem;
  }

  .elph_timer {
    top: 45%;
  }

  .brandMysuru {
    top: 70ch;
  }

  .carousal_main {
    height: 100vh;
  }

  .main_tickets {
    height: 70%;
    width: 80%;
  }

  .glass_background {
    background: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 
      0 4px 6px rgba(0, 0, 0, 0),
      0 1px 3px rgba(0, 0, 0, 0),
      inset 0 0 0 1px rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
  }

  .glass_background::before {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  
  @keyframes shine {
    0% {
      transform: translateX(-50%) rotate(45deg);
    }
    100% {
      transform: translateX(50%) rotate(45deg);
    }
  }

  .outer_main:hover {
    backdrop-filter: blur(10px);
  }

  // .banner_container {
  //   backdrop-filter: blur(1px);
  // }
}


