.headers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.main_body {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/images/md_bg_24.png");
    background-repeat: round;
    background-size: contain;
}

@media (min-width: 300px) and (max-width: 349px) {
    .headers {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}


@media (min-width: 350px) and (max-width: 399px) {
    .headers {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}