// slider.scss

.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 272px;
  margin: 0 auto;

  .slide {
    width: 362px;
    height: 272px;
    transition: transform 500ms ease 0s, opacity 500ms ease 0s,
      visibility 500ms ease 0s;
    position: absolute;
    top: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    // 3D reflection effect
    .reflection {
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: -60px;
      border-radius: 12px;
      transition: transform 500ms ease 0s, opacity 500ms ease 0s,
        visibility 500ms ease 0s;
    }
  }

  .sliderContent {
    background: url("../../../public/images/md_bg_24.png");
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
    align-items: flex-start;
    border-radius: 6%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    h2 {
      margin: 16px 0;
    }

    p {
      margin: 0;
      margin-bottom: 16px;
    }
  }
}

// Global styles
// body {
//   width: 100vw;
//   min-height: 100vh;
//   overflow: hidden;
//   background: #111;
// }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.btns {
  padding-top: 100px;

  .btn {
    cursor: pointer;

    &:last-child {
      margin-left: 40px;
    }
  }
}

.parent_div {
  text-align: center;

}
.glass_blur {
  background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border-radius: 12px;
padding: 30px;
box-shadow: 
  0 4px 6px rgba(0, 0, 0, 0.05),
  0 1px 3px rgba(0, 0, 0, 0.03),
  inset 0 0 0 1px rgba(255, 255, 255, 0.2);
transition: all 0.3s ease;
}

.glass_blur::before {
  background: rgba(255, 255, 255, 0.15);
box-shadow: 
  0 8px 12px rgba(0, 0, 0, 0.08),
  0 2px 4px rgba(0, 0, 0, 0.05),
  inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.glass_blur:hover {
  backdrop-filter: blur(10px);
}


.glass_blur:hover::after {
  backdrop-filter: blur(2px);
}

.status_heading {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.blinkers {

  animation: blink 2s linear infinite;
}

.status {
  align-self:last baseline;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@media (min-width: 350px) and (max-width: 768px){
  .slideC {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 60%;
    height: 272px;
    margin: auto;
    z-index: -20;
    padding-top: 20PX;
  
    .slide {
      width: 60%;
      height: 60%;
      transition: transform 500ms ease 0s, opacity 500ms ease 0s,
        visibility 500ms ease 0s;
      position: absolute;
      top: 0;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      // 3D reflection effect
      .reflection {
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: -60px;
        border-radius: 12px;
        transition: transform 500ms ease 0s, opacity 500ms ease 0s,
          visibility 500ms ease 0s;
      }
    }
  
    .sliderContent {
      background: url("../../../public/images/md_bg_24.png");
      display: flex;
      flex-direction: column;
      color: white;
      padding: 30px;
      align-items: flex-start;
      border-radius: 6%;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
      h2 {
        margin: 16px 0;
      }
  
      p {
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }
  
  // Global styles
  // body {
  //   width: 100vw;
  //   min-height: 100vh;
  //   overflow: hidden;
  //   background: #111;
  // }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .btns {
    padding-top: 100px;
  
    .btn {
      cursor: pointer;
  
      &:last-child {
        margin-left: 40px;
      }
    }
  }
  
  .parent_div {
    text-align: center;
  
  }
  .glass_blur {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.03),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  }
  
  .glass_blur::before {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  .glass_blur:hover {
    backdrop-filter: blur(10px);
  }
  
  
  .glass_blur:hover::after {
    backdrop-filter: blur(2px);
  }
  
  .status_heading {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
  }
  
  
  .status {
    align-self:last baseline;
  }
  
  
}
